html {
	font-size: 8px;
	font-family: sans-serif;
}

/* universal styles*/

h1, h2, h3, h4, h5, h6, p {
	padding: 2rem 0;
}

h1 {
	font-weight: 900;
	font-size: 5rem;
	line-height: 5.5rem;
}

h2 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 4.5rem;
}

h3 {
	font-weight: 500;
	font-size: 2rem;
	line-height: 4.5rem;
}

h4 {
	font-size: 1rem;
	line-height: 2rem;
}

h5 {
	
}

h6 {
	font-size: 4rem;
	line-height: 5rem;
	font-weight: 900;
}

p {
	font-size: 2rem;
	line-height: 3rem;
}

a {
	text-decoration: none;
	color: black;
	font-size: 2rem;
}

#jumbo, #classes {
	background-color: lightgray;
}

#jumbo, #info, #start {
	display: flex;
	justify-content: center;
}

/* header + nav */

header {
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	height: 4rem;
	padding: 0 3rem;
}

nav {
	padding: 0 3rem;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a {
	padding: 0 1rem;
}

/* jumbotron */

#jumbo {
	align-items: center;
}

.left {
	width: 60%;
	padding: 4rem 3rem;
}

.left img {
	width: 100%;
	height: auto;
}

.right {
	width: 40%;
	padding: 4rem 3rem;
}

.right img {
	width: 100%;
	height: auto;
}

.button {
	background-color: darkgray;
	width: 50%;
	margin: 3rem 0;
}

.button a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 1rem 0;
	text-align: center;
	color: white;
	font-size: 1.5rem;
}

/* info section */

#info {
	align-items: flex-start;
}

#info .right {
	display: flex;
	flex-direction: column;
}

.information {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: lightgray;
	margin: 1rem 0;
}

.information img {
	width: 35%;
	height: 35%;
	padding: 2rem;
}

.information div {
	width: 60%;
}

/* start learning section */

#classes h6 {
	text-align: center;
	padding: 4rem 0;
}

#start {
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.class {
	background-color: white;
	margin: 2rem;
	width: 25%;
}

.class img {
	width: 100%;
	height: auto;
}

.class div {
	margin: 2rem;
	
}

/* Thesis section */

#exhibit {
	text-align: center;
	padding: 4rem 0;
}












